services:
  repae:
    build:
      context: .
      dockerfile: Dockerfile
    image: repae_nuxt:latest
    container_name: repae_nuxt
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - path: .env
        required: false   # facultatif : utilise .env.example comme référence
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOST=0.0.0.0
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
